.create-shipping {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
}

.create-shipping h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1em;
  text-align: center;
}

.create-shipping form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10px;
}

.create-shipping form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  background-color: #fff;
  padding: 5px;
}

.create-shipping form div label {
  font-size: 1em;
  font-weight: bold;
  margin: 5px 0;
}

.create-shipping form div input {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.create-shipping form div select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.create-shipping form button {
  width: 100%;
  height: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffedd7;
  color: #000;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
}

.create-shipping form button:hover {
  background-color: #ffe4c4;
}
