.create-shipping {
  width: 1200px;
  margin: 0 auto;
}

.create-shipping form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.create-shipping h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1em;
  text-align: center;
}

.create-shipping .left,
.create-shipping .right {
  padding: 0 20px;
}

.create-shipping label {
  display: block;
  font-weight: bold;
  margin: 10px 0;
  text-align: center;
}

.create-shipping form div input {
  width: 100%;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0;
  text-align: center;
  outline: none;
}

.create-shipping form div select {
  height: 30px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
  outline: none;
}

.create-shipping form button {
  grid-column: 1/3;
  height: 100%;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffedd7;
  color: #000;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
}

.create-shipping form button:hover {
  background-color: #ffe4c4;
}
