.error404 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-top: 2rem;
}

.error404 h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.error404 a {
  color: #fff;
  text-decoration: none;
  background: #ff5a5f;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1rem;
}
